<app-hero
  [title]="i18n.t('hero.title')"
  [subtitle]="i18n.t('hero.subtitle')"
  backgroundUrl="/assets/images/fondo-personas.png"
></app-hero>

<app-discover></app-discover>
<app-gallery
  [items]="galleryItems"
  [extraItems]="galleryItemsExtra"
  [packages]="packagesItems"
  [alwaysShowExtra]="true"
  [defaultTab]="'photos'"
  [moreLinkUrl]="'https://www.instagram.com/megaforce.01'"
  [moreLinkLabel]="'Ver más Fotos'"
  variant="page"
></app-gallery>
<app-testimonials></app-testimonials>
<app-contact></app-contact>
